body {
	font-family: 'Red Hat Text', sans-serif;
	color: #fff;
	font-size: 36px;
	font-weight: 700;
	padding: 0;
	margin: 0;
}

div, p, input, button, form, span, a, ul, li {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

p {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

.container {
	width: 1200px; /*змінюй під себе*/
	margin: 0 auto;
}

header {
	background: url(/img/микросхемхедер.jpg) no-repeat center top / cover;
	height: 200px;
	widht: 1440px;
	
}

.up_menu {
	display: flex;
	align-items: center;
	/*justify-content: space-between;*/
}

#navigation {
	height: 84px;
}

.nav {
	display: center;
	align-items: center;
}

.menu {
	display: flex;
}

.link {
	display: inline;
	font-size: 22px;
	padding: 27.5px 16px;
	color: white;
}


.a {
	font-size: 14px;
	font-weight: 300;
	padding: 0 0 0 10px;
}

.menu li:hover{
	
	display: block;
}

.menu li:hover ul {
	background-color: white;
	display: block;
}

.menu li ul {
	position: absolute;
	min-width: 150px;
	display: none;
}

.DescriptionOne {
	display: flex;
	justify-content: space-between;
	margin: 25px -70px 56px;
}
.DescriptionSecond {
	display: flex;
	justify-content: space-between;
	margin: 25px -70px 56px;
}

.banners {
	display: flex;
}

.banner1 {
	margin-right: 40px;
}

.SponsorsHead {
	margin: 80px 0px 80px;
}
.sponsors1 {
	display: flex;
	justify-content: flex-start;
	height: 294px;
	margin-bottom: 56px;
	margin: 25px -100px 56px;
}
.sponsors2 {
	display: flex;
	justify-content: flex-start;
	height: 294px;
	margin-bottom: 56px;
	margin: 25px -200px 56px;
}

footer {
	background: url(/img/микросхемхедер.jpg) no-repeat center top / cover;
	font-weight: 500;
	margin-bottom: 15px;
	height: 100px;
	widht: 1440px;
}

.contacts	{
	font-size: 24px;
	margin-left: 53px;
}

.social	{
	font-size: 24px;
	display: flex;
	align-items: center;
	margin-right: 117px;
}

.social img {
	margin-left: 20px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.footer_flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.lnc {
	text-decoration: none;
	color: #fff;
}
